.td-root {
    --drawer-full-width: 300px;
    --drawer-mini-width: 70px;
    --scroll-width: 5px;
    --item-content-height: 35px;


    --selected-border-color: #19aa8d;
    --selected-border-width: 4px;
    --menu-item-color: #a7b1c2;
    --menu-item-selected-color: #ffffff;
    --menu-item-bg-color: #2f4050;
    --menu-item-selected-bg-color: #293846
}

.td-root {
    user-select: none;
    width: var(--drawer-full-width);
    background-color: var(--menu-item-bg-color);
    font-size: 13px;
    font-weight: 600;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    transition: 0.4s;
    box-sizing: border-box;
}

.td-root * {
    box-sizing: inherit;
}

.td-root::-webkit-scrollbar {
    width: var(--scroll-width);
}

.td-root::-webkit-scrollbar-thumb {
    background-color: #19aa8d;
}

.td-root::-webkit-scrollbar-track {
    background-color: darkgrey;
}

.td-root.td-mini {
    width: var(--drawer-mini-width);
}

.td-toggle-btn-box {
    width: 100%;
}

.td-toggle-btn {
    font-size: 20px;
    width: 30px;
    height: 30px;
    margin: 10px;
    color: red;
    border: none;
}

.td-header-box {
    width: 100%;
}

.td-header {
    height: 50px;
    background-color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 20px;
}

.td-menu-item-box {
    cursor: pointer;
    background-color: var(--menu-item-bg-color);
    color: var(--menu-item-color);
}

.td-menu-item-box:hover {
    color: var(--menu-item-selected-color);
}

.td-menu-item-box.td-selected {
    color: var(--menu-item-selected-color);
}

.td-menu-item-box.td-level-0:hover {
    background-color: var(--menu-item-selected-bg-color);
}

.td-menu-item-box.td-level-0.td-selected {
    /* border: 1px solid black; */
    border-width: 0px;
    border-left-width: var(--selected-border-width);
    color: var(--menu-item-selected-color);
    border-style: solid;
    border-color: var(--selected-border-color);
    background-color: var(--menu-item-selected-bg-color);
}

.td-menu-item-box.td-level-0.td-selected .td-menu-item-box {
    background-color: var(--menu-item-selected-bg-color);
}

.td-menu-item-box.td-level-0 {
    padding-left: 0px;
}

.td-menu-item-box.td-selected>.td-menu-item-children {
    display: block;
}

.td-menu-item-box .td-menu-item-children {
    display: none;
    position: static;
}

.td-mini .td-menu-item-box.td-level-0>.td-menu-item-children {
    display: none;
    position: absolute;
    max-height: 100%;
    overflow: auto;
}

.td-mini .td-menu-item-box.td-level-0:hover>.td-menu-item-children {
    display: block;
    left: calc(var(--drawer-mini-width) - var(--scroll-width));
    width: 200px;
    border: 1px solid black;
}

.td-menu-item-content {
    height: var(--item-content-height);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}