.td-root {
    --td-drawer-full-width: 300px;
    --td-drawer-mini-width: 70px;
    --td-scroll-width: 5px;
    --td-item-content-height: 50px;
}

.td-root {
    user-select: none;
    width: var(--td-drawer-full-width);
    background-color: blueviolet;
    height: 100%;
    overflow: auto;
    transition: 0.4s;
    box-sizing: border-box;
}

.td-root * {
    box-sizing: inherit;
}

.td-root::-webkit-scrollbar {
    width: var(--td-scroll-width);
}

.td-root::-webkit-scrollbar-thumb {
    background-color: #19aa8d;
}

.td-root::-webkit-scrollbar-track {
    background-color: darkgrey;
}

.td-root.td-mini {
    width: var(--td-drawer-mini-width);
}

.td-toggle-btn-box {
    width: 100%;
}

.td-header-box {
    width: 100%;
}

.td-menu-item.td-level-0.td-selected {
    /* border: 1px solid black; */
    border-width: 0px 0px 0px 3px;
    border-style: solid;
    border-color: #19aa8d;
    background-color: #3419aa;
}

.td-menu-item.td-level-0 {
    padding-left: 0px;
}

.td-menu-item.td-selected>.td-menu-item-children {
    display: block;
}

.td-menu-item .td-menu-item-children {
    display: none;
    position: static;
}

.td-mini .td-menu-item.td-level-0>.td-menu-item-children {
    display: none;
    position: absolute;
    max-height: 100%;
    overflow: auto;
}

.td-mini .td-menu-item.td-level-0:hover>.td-menu-item-children {
    display: block;
    left: calc(var(--td-drawer-mini-width) - var(--td-scroll-width));
    width: 200px;
}

.td-menu-item-content {
    height: var(--td-item-content-height);
}